@model Portal.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Search advanced | Portal";

    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToUpper();
    @using Microsoft.AspNetCore.Mvc.Localization
    @inject IViewLocalizer Localizer
}

<script src="~/js/SearchAdvanced.js"></script>

<div class="center-searchbox mb-4">
    <div class="searchbox-wrapper">
        @*if (Model?.Lines?.Count() >= 1 && !string.IsNullOrEmpty(ViewBag.SearchText))
            {
                <i class="bi bi-x-lg" id="searchButton" role="button" style="position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
                <input type="text" id="searchInput" autocomplete="off" placeholder="@ViewBag.SearchText" />
            }
            else{
            }*@
        <input class="searchbox" type="text" id="searchInput" placeholder="@Localizer["Search in all apps"]" autocomplete="off" />
        <i class="bi bi-x-lg" id="closeButton" role="button" style="display: none; position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
        <i class="bi bi-x-lg" id="closeAdvancedSearchButton" role="button" style="display: none; position: absolute;right: 10px; top: 50%;transform: translateY(-50%);"></i>
    </div>
</div>


<div class="d-flex row flex-wrap justify-content-center w-100" style="margin: 0 auto; gap: 4rem;">
    @foreach (var app in Model.ApplicationList ?? Enumerable.Empty<Application>())
    {
        <div class="tall-box" role="button" onclick="window.open('@app.AppLink', '_blank')" style="display: none;">
            <b hidden>@app.Id</b>

            <div class="tall-box-icon-top-left">
                <a href="@app.DevLink" target="_blank"><i class="bi bi-exclamation-circle" role="button"></i></a>
            </div>
            <div class="tall-box-icon-top-right">
                @if (User.IsInRole("EDIT"))
                {
                    <a asp-action="EditApplicationIndex" asp-controller="Application" asp-route-id="@app.Id"><i class="bi bi-pencil-square" onclick="event.stopPropagation();"></i></a>
                }
            </div>

            <img class="tall-box-vector" src="@app.IconLocation" height="70" width="70" />
            <br />

            <div class="tall-box-text">
                <p style="font-size: 20px; font-weight:600">@app.ContentDictionary?.FirstOrDefault(x => x?.LanguageCode?.ToUpper() == culture)?.Name</p>

                <span style="word-break: break-word;">
                    @app.ContentDictionary?.FirstOrDefault(x => x?.LanguageCode?.ToUpper() == culture)?.Description
                </span>
            </div>
            <div class="tall-box-icon-bottom-left">
                <a href="@app.ManualLink" download><i class="bi bi-question-circle" role="button" onclick="event.stopPropagation();"></i></a>
            </div>
            <div class="tall-box-icon-bottom-right">
                <a href="@app.AppLink" target="_blank"><i class="bi bi-arrow-right" role="button" onclick="event.stopPropagation();"></i></a>
            </div>

        </div>
    }

</div>
