@model Portal.ViewModel.ApplicationViewModel
@{
    ViewData["Title"] = "Add Application | Portal";
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name.ToUpper();
    @using Microsoft.AspNetCore.Mvc.Localization
    @inject IViewLocalizer Localizer
}

<script src="~/js/AddApplication.js"></script>

<div class="d-flex row justify-content-center">

    <div class="col-lg-10" style="padding-right: 3%;">

        <div class="d-flex justify-content-between align-items-center">
            <h3>@Localizer["Add application"]</h3>

            <div class="lmenu">
                <div class="aoval">
                    <img src="~/images/icons/aellipse.png" class="oval" />
                </div>
                <a id="robtn" onclick="ChangeContent('RO')" role="button" style="margin-top: 1px;"><img src="~/images/icons/RO.png" style="height:20px"/> RO</a>
                <a id="enbtn" onclick="ChangeContent('EN')" role="button" style="margin-top: 1px;"><img src="~/images/icons/EN.png" style="height:20px"/>&ensp;EN</a>
                <a id="jpbtn" onclick="ChangeContent('JA')" role="button" style="margin-top: 1px;"><img src="~/images/icons/JP.png" style="height:20px"/>&ensp;JP</a>
                <div class="boval">
                    <img src="~/images/icons/bellipse.png" class="oval" />
                </div>
            </div>
            <input type="hidden" id="currentLang" value="RO" />
        </div>

        <div class="d-flex gap-5 justify-content-between mt-4">
            <div class="w-100">
                <span>@Localizer["Application name"]</span>
                <input class="custom-input mb-2" placeholder="@Localizer["Enter application name"]" id="nameInput" maxlength="30" />
                <span>@Localizer["Project development link"]</span>
                <input class="custom-input mb-2" placeholder="@Localizer["Enter project development link"]" id="devLink" />
                <span>@Localizer["Application link"]</span>
                <input class="custom-input mb-2" placeholder="@Localizer["Enter application link"]" id="appLink" />
                <span>@Localizer["Application manual link"]</span>
                <input class="custom-input" placeholder="@Localizer["Enter application manual link"]" id="manualLink" />
            </div>
            <div class="w-100">
                <span>@Localizer["Application description"]</span>
                <textarea class="custom-textarea" maxlength="256" oninput="updateCharacterCount()" placeholder="@Localizer["Enter application details"]" id="detailsInput"></textarea>
            </div>

        </div>
        <p style="float:right">@Localizer["Charecter limit:"] <span id="charCount"> 256 </span> @Localizer["characters"]</p>


        <div class="d-flex row mt-5" style="margin: 0 auto;">

            <div class="col-5" style="padding:0 !important">
                <span>@Localizer["Available categories"]</span>
                <input type="hidden" id="hiddenInput1" @*asp-for="AddApplicationIds"*@ />
                <select multiple class="select-multiple-box" @*asp-for="RemoveLineIds"*@ id="firstListSelect">
                    @foreach (var cat in Model?.DbCategoryList ?? Enumerable.Empty<Category>())
                    {
                        <option value="@cat.Id">@cat.ContentDictionary?.FirstOrDefault(x => x?.LanguageCode?.ToUpper() == culture)?.Name</option>
                    }
                </select>
            </div>

            <div class="flex-column col-2 align-self-center">
                <div style="margin-left: 40%;">
                    <button type="button" class="btn btn-primary mb-2" onclick="MoveLine()"><i class="bi bi-chevron-double-right"></i></button>
                    <br />
                    <button type="button" class="btn btn-primary" onclick="RemoveLine()"><i class="bi bi-chevron-double-left"></i></button>
                </div>
            </div>



            <div class="col-5" style="padding:0 !important">
                <span>@Localizer["Categories added"]</span>
                <input type="hidden" id="hiddenInput2" @*asp-for="RemoveApplicationIds"*@ />
                <select multiple class="select-multiple-box" @*asp-for="AddLineIds"*@ id="secondListSelect">
                    @foreach (var cat in Model?.CategoryList ?? Enumerable.Empty<Category>())
                    {
                        <option value="@cat.Id">@cat.ContentDictionary?.FirstOrDefault(x => x?.LanguageCode?.ToUpper() == culture)?.Name</option>
                    }
                </select>

            </div>

        </div>

    </div>
    <div class="col-lg-2" style="padding:0 !important">
        <div class="d-flex">
            <div id="iconPreview" class="icon-preview-box-small" ondrop="drop(event)" ondragover="allowDrop(event)" onclick="document.getElementById('fileUpload').click()">@Localizer["Preview"]</div>
            <input id="fileUpload" type="file" style="display:none;" onchange="previewFile()" />
            <div class="text-center">
                <button class="btn btn-secondary mb-2 mt-2" style="max-height: 35px; width: 140px;" onclick="document.getElementById('fileUpload').click()">@Localizer["Select icon"]</button>
                <button class="btn btn-danger" id="deleteButton" style="max-height: 35px; width: 140px;" onclick="deleteIcon()">@Localizer["Delete icon"]</button>
            </div>
        </div>
        <p class="mt-5">@Localizer["Keywords"]</p>
        <div style="position: relative; display: inline-block; width:100%;">
            <input class="custom-input" asp-for="KeywordList" id="keywordsInput" placeholder="@Localizer["Enter keywords: #abc"]" onchange="AddKeyword(this.value)" />
        </div>

        <div class="mt-2 p-2" id="keywordsContainer"></div>

    </div>

</div>

<br />
<br />
<br />


<div class="d-flex justify-content-between bottom-0">
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">@Localizer["Cancel"]</a>
    <button class="btn btn-success" onclick="SaveApplication()">@Localizer["Save"]</button>
</div>

